.bookcard-main {
    background: white;
    margin: 25px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-around;
    align-content: space-around;
    box-sizing: border-box;
    border-radius: 25px;
    font: helvetica;

}

.bookcard-main > * {
    padding: 2px;
    box-sizing: border-box;
    margin: 5px;
}

.bookCard-image {
    height: 150px;
    padding: 0px;
    margin: 0;
    flex-grow: 1;
    display:flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.material-icons{
    height: 50px;
    width: 50px;
    margin-top: -12%;
    text-align: center;
    padding: 10px;
    margin-left: 68%;
    border-radius: 50%;
    color: white;
}

.bookCard-author {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.bookCard-rating {
    font-size: 30px;
    font-weight: lighter;
}

.bookCard-name {
    font-weight: bold;
}