.header-main {
    background: darkred;
    color: white;
    padding: 10px;
    padding-bottom: 50px;
    width: 36%;
    box-sizing: border-box;
    flex-wrap: wrap;
    font: "helvetica";
}

.header-book {
    font-size: 255%;
    font-weight: lighter;
}

.header-the, .header-shelf {
    font-size: 180%;
    font-weight: lighter;
} 

 

.header-hr {
    border-color: lightcoral;
}