.header-main {
    background: darkred;
    color: white;
    padding: 10px;
    padding-bottom: 50px;
    font-size: 250%;
    width: 36%;
    box-sizing: border-box;
    text-decoration: underline;
    text-decoration-color: lightcoral;
    flex-wrap: wrap;
}